<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django-GeoLocaton App</title>
</head>
<body>
    <h1>Django-GeoLocaton App</h1>
    <p>Your Location is {{data.country}}</p>
    <ul>
        <li>City: {{data.city}}</li>
        <li>Latitude: {{data.lat}}</li>
        <li>Longitude: {{data.lon}}</li>
        <li>Timezone: {{data.timezone}}</li>
    </ul>

</body>
</html>